{% extends "account/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="sign_up_all">
    <div class="sign_up">
        <h1 align="center">{% trans "Sign Up" %}</h1>

        <p>
            {% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans%}
        </p>

        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            <p>
                <input type="text" name="username" id="id_username" class="form-control" placeholder="Login"
                       required>

            </p>


            <p>
                <input type="email" name="email" id="id_email" class="form-control" placeholder="E-mail "
                       required>
            </p>

            <p>
                <input type="password" name="password1" id="id_password1" class="form-control" placeholder="Password"
                       required>
            </p>

            <p>
                <input type="password" name="password2" id="id_password2" class="form-control"
                       placeholder="Password" required>
            </p>

            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button type="submit" class="btn btn-outline-dark btn-sm" style="width: 100%">{% trans "Sign Up" %}
                &raquo;
            </button>
        </form>
    </div>
</div>


{% endblock %}
